.sidebar {
    background-color: #333;
    width: 250px;
    height: 100vh; 
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column; /* Display menu items vertically */
    justify-content: flex-start; /* Start items at the top */
    align-items: center; 
    padding: 20px;
    box-sizing: border-box;
    z-index: 1; /* Ensure it appears above other content */
}
  
.sidebar ul {
    list-style: none;
    padding: 0;
    text-align: center; /* Center text within list items */
}

.sidebar li {
    margin-bottom: 30px; /* Add margin to create space between options */
}  
  
.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 24px; /* Increase font size */
    display: block;
}

.sign-out {
    margin-top: auto; /* Push "Sign Out" to the bottom */
    /*display: block;*/
    text-align: center; /* Center the text */
    padding: 10px 0; /* Apply padding to match the other menu items */
    display: flex;
    align-items: center; /* Align items vertically centered */
}
  
.sign-out button {
    color: white;
    text-decoration: none;
    font-size: 24px;
    background-color: #333; /* Apply the same background color as the sidebar */
    display: block;
    width: 100%;
    border: none;
    cursor: pointer;
}

.slogan {
    font-family: cursive;
    color: rgb(76, 113, 197);
    font-size: 30px;
    font-weight: bold; /* Make it bold */
    text-shadow: 2px 2px 4px rgba(116, 110, 110, 0.5); 
    margin-right: 20px;
    flex-grow: 1; /* Stretch the slogan to fill available space */
    text-align: center;
    padding: 5px;
    
}

.icon {
    margin-right: 5px; /* Adjust the spacing between the icon and text */
    color: white; /* Set the color of the icons to white */
  }

 