.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    position: relative;
  }
  
.chat-bot {
  background-color: #333;
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column; /* Display vertically */
  justify-content: flex-start; /* Start items at the top */
  align-items: center;
  padding: 10px 20px 20px 20px; /* Add extra padding-bottom (20px) */
  box-sizing: border-box;
  color: #ece5e5;
}

.chat-bot ul {
  background-color: #333;
  color: #ece5e5;
  list-style: none;
  padding: 0;
  text-align: center; /* Center text within list items */
}

.chat-bot h2 {
  color: white;
  font-family: cursive;
  font-weight: bold;
  text-decoration: none;
  font-size: 32px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: block;
  border-top: 2px solid #555; /* Add a border on top of the chat box */
}

.search-bar {
  display: flex;
  align-items: center;
  flex-grow: 0; /* Stretch the search bar to fill available space */
  border-bottom: 2px solid gray; /* Add a gray line under the search box */
  margin-bottom: 20px; /* Increase the space under the search box (adjust as needed) */
}

.search-bar input {
  background-color: #333;
  padding: 10px;
  flex-grow: 1;
  border: none; /* Remove the border */
  border-radius: 0; /* Set border-radius to 0 for square corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  color:whitesmoke;

}

.search-bar input::placeholder{
  color: whitesmoke; 
  font-size: medium;
}

/* Ai */

/* Container style */
.container {
  width: 80%;
  margin: 20px auto;
  padding: 30px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Input form style */
.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
  color:#f8f4f4;
}
.input-box::placeholder {
  color: #999; 
  font-size: large;
}

.input-box:focus {
  background-color: rgb(70, 68, 68); 
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.submit-button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px; /* Added margin-bottom for space */
}

.submit-button:hover {
  background-color: #0056b3;
}

/* Conversation container style */
.conversation-container {
  height: 300px; /* Set your desired height */
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}
